/*Layout*/

html {
	width: 800px;
}

body {
	margin-top: 20px;
	color: #444444;
	letter-spacing: 1.2px;
	font-family: 'Arimo', sans-serif;
	position: relative;
}

.logo {
	margin-bottom: 10px;
	text-align: center;
}

.title {
	text-align: center;
}

.underline {
	border-bottom: 1px solid;
}

.gap-bottom {
	margin-bottom: 25px;
}

article {
	margin-top: 1em;
}

/*General Styling*/

a {
	text-decoration: none;
	color: #AA542D;
	padding: 1px 3px;
}

.signature {
	margin-left: 200px;
}

.right {
	float: right;
}

.left {
	float: left;
}

.center {
	text-align: center;
}

.top-gap {
	margin-top: 30px;
}

.rating {
	font-style: italic;
	font-weight: bold;
}

.fixed {
	position: fixed;
}

@media print {
	.no-print {
	display: none;
	}
}
